.header-wrapper {
    background-image: url('../../images/BG/bg.png');
    background-size: cover;
    background-position: center;
    padding: 80px 0;
    margin-top: 80px;
    position: relative;
}


.page-title {
    font-size: var(--fs-lg);
    text-transform: uppercase;
    font-weight: var(--fw-bold);
}

.header-description {
    font-size: var(--fs-xmd);
    color: var(--colors-text-dark);
    max-width: 670px;
    margin-top: 25px;
}

.extantion-wrapper {
    margin-top: 120px;
    max-width: 420px;
}

.extantion-head {
    font-size: var(--fs-md);
    font-weight: var(--fw-bold);
    color: var(--colors-text-dark);
}

.extantion-content {
    color: var(--colors-text-dark);
}


.mask-group {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.mask-group-lemon {
    position: absolute;
    right: 200px;
    bottom: -120px;
    z-index: 4;
}

.mask-group-nootris {
    position: absolute;
    right: 130px;
    bottom: 80px;
    z-index: 3;
}

.mask-group-ginger {
    position: absolute;
    right: 40px;
    bottom: 100px;
    z-index: 0;
}


@media (max-width: 1300px) {
    .mask-group-lemon {
        width: 44vw;
        right: 0;
    }
    .mask-group-nootris {
        width: 17vw;
        right: 30px;
    }
    .mask-group-ginger {
        width: 35vw;
        right: 0px;
    }
}

@media (max-width: 1050px) {
    .header-wrapper {
        padding: 50px 0;
    }
}

@media (max-width: 883px) {
    .header-description {
        max-width: 550px;
    }
}

@media (max-width: 730px) {
    .header-description {
        max-width: 300px;
    }

    .extantion-wrapper {
        margin-top: 50px;
        max-width: 320px;
    }

    .mask-group-lemon {
        width: 44vw;
        right: 0;
    }
    .mask-group-nootris {
        width: 17vw;
        right: 30px;
        bottom: 20px;
    }
    .mask-group-ginger {
        width: 35vw;
        right: 0px;
        bottom: 40px;
    }
}

@media (max-width: 520px) {
    .header-description {
        max-width: 55vw;
    }
    .extantion-wrapper {
        margin-top: 35px;
        max-width: 60vw;
    }
    .mask-group-lemon {
        bottom: -50px;
    }
}