@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&family=Rubik:wght@400;700&display=swap');

:root{
    /* font size */
    --fs-xsm: 12px;
    --fs-sm: 18px;
    --fs-xmd: 24px;
    --fs-md: 36px;
    --fs-lmd: 48px;
    --fs-lg: 144px;

    /* font weight */
    --fw-normal: 400;
    --fw-bold: 700;

    /* colors */
    --colors-text-light: #FFFFFF;
    --colors-text-dark: #000000;
    --colors-text-orange: #FCB500;

    --colors-bg-dark: #111111;
    --colors-bg-orange: #FCB500;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    font-size: var(--fs-sm);
    font-weight: var(--fw-normal);
    color: var(--colors-text-light);
}

body {
    width: 100%;
    background-color: var(--colors-bg-dark);
}

.flex-row-just-beet-align-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}